In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
#Lendo o dataset
trip_dataset = pd.read_csv('Datasets/train.csv')

In [3]:
trip_dataset[['pickup_datetime','dropoff_datetime','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude']].head()

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,2016-03-14 17:24:55,2016-03-14 17:32:30,-73.982155,40.767937,-73.964630,40.765602
1,2016-06-12 00:43:35,2016-06-12 00:54:38,-73.980415,40.738564,-73.999481,40.731152
2,2016-01-19 11:35:24,2016-01-19 12:10:48,-73.979027,40.763939,-74.005333,40.710087
3,2016-04-06 19:32:31,2016-04-06 19:39:40,-74.010040,40.719971,-74.012268,40.706718
4,2016-03-26 13:30:55,2016-03-26 13:38:10,-73.973053,40.793209,-73.972923,40.782520

In [70]:
trip_dataset['dropoff_datetime'] = trip_dataset['dropoff_datetime'].apply(lambda x: pd.to_datetime(x))
trip_dataset['pickup_datetime'] = trip_dataset['pickup_datetime'].apply(lambda x: pd.to_datetime(x))

In [71]:
trip_dataset['diff'] = trip_dataset['dropoff_datetime'] - trip_dataset['pickup_datetime']

In [72]:
def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

In [73]:
trip_dataset['distance'] = trip_dataset.apply(lambda row: haversine_np(row['pickup_longitude'],row['pickup_latitude'],row['dropoff_longitude'],row['dropoff_latitude']),axis=1 )

In [74]:
df = trip_dataset.sort_values(by='trip_duration',ascending=False)
df[['pickup_datetime','dropoff_datetime','trip_duration','diff','distance','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude']].head()

,pickup_datetime,dropoff_datetime,trip_duration,diff,distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
978383,2016-02-13 22:46:52,2016-03-25 18:18:14,3526282,40 days 19:31:22,19.888167,-73.783905,40.648632,-73.978271,40.750202
924150,2016-01-05 06:14:15,2016-01-31 01:01:07,2227612,25 days 18:46:52,1.634101,-73.983788,40.742325,-73.985489,40.727676
680594,2016-02-13 22:38:00,2016-03-08 15:57:38,2049578,23 days 17:19:38,5.978731,-73.921677,40.735252,-73.984749,40.759979
355003,2016-01-05 00:19:42,2016-01-27 11:08:38,1939736,22 days 10:48:56,20.136014,-73.789650,40.643559,-73.956810,40.773087
1234291,2016-02-15 23:18:06,2016-02-16 23:17:58,86392,0 days 23:59:52,20.629763,-73.794525,40.644825,-73.991051,40.755573

In [75]:
trip_dataset['diff_distance'] = trip_dataset['trip_duration'] - (trip_dataset['distance'] * 100) 
trip_dataset = trip_dataset[trip_dataset['diff_distance'] < 10]

In [76]:
trip_dataset.shape

(36475, 14)

In [80]:
df = trip_dataset.sort_values(by='trip_duration',ascending=False)
df[['pickup_datetime','dropoff_datetime','trip_duration','diff','diff_distance','distance','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude']].head()

,pickup_datetime,dropoff_datetime,trip_duration,diff,diff_distance,distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
1301396,2016-03-26 22:01:54,2016-03-27 00:47:16,9922,02:45:22,-9206.262095,191.282621,-73.981491,40.773251,-76.135719,40.243626
14502,2016-04-15 22:35:08,2016-04-16 00:34:21,7153,01:59:13,-4489.328242,116.423282,-73.781792,40.644718,-72.711395,41.311520
837898,2016-05-17 20:29:57,2016-05-17 22:27:41,7064,01:57:44,-927.319360,79.913194,-73.976891,40.751888,-73.628647,41.421406
246942,2016-02-03 08:35:17,2016-02-03 10:20:33,6316,01:45:16,-1987.660006,83.036600,-73.959846,40.782383,-74.775429,40.364536
1085898,2016-01-11 17:22:12,2016-01-11 19:06:21,6249,01:44:09,-2813.067823,90.620678,-73.789886,40.643768,-73.047379,41.235737

In [81]:
trip_dataset.shape

(36475, 14)

In [82]:
w_data = pd.read_csv('Datasets/weatherdata.csv')
w_data['timestamp'] = pd.to_datetime(w_data['timestamp'])

In [94]:
w_data.head()

,timestamp,temp,windspeed,humidity,precip,pressure,conditions,dailyprecip,dailysnow,fog,rain,snow
0,2016-01-01 00:51:00,42.1,4.6,51.0,0.0,30.06,Overcast,0.00,0.00,0,0,0
1,2016-01-01 01:51:00,41.0,3.5,53.0,0.0,30.06,Overcast,0.00,0.00,0,0,0
2,2016-01-01 02:51:00,41.0,4.6,55.0,0.0,30.06,Overcast,0.00,0.00,0,0,0
3,2016-01-01 03:51:00,41.0,9.2,55.0,0.0,30.06,Overcast,0.00,0.00,0,0,0
4,2016-01-01 04:51:00,39.9,10.4,58.0,0.0,30.04,Overcast,0.00,0.00,0,0,0

In [84]:
trip_dataset['pickup_datetime_int'] = trip_dataset['pickup_datetime'].astype('int64')//1e9
trip_dataset['dropoff_datetime_int'] = trip_dataset['dropoff_datetime'].astype('int64')//1e9

In [85]:
min_data  = w_data['timestamp'].min()
max_data = w_data['timestamp'].max()
trip_dataset = trip_dataset[(trip_dataset['pickup_datetime'] >= min_data) & (trip_dataset['pickup_datetime'] <= max_data)]

In [86]:
trip_dataset = trip_dataset.sort_values('pickup_datetime')

In [87]:
trip_dataset['rain'] = trip_dataset.apply(lambda row: len(w_data[((w_data['timestamp'] >= row['pickup_datetime']) & (w_data['timestamp'] <= row['dropoff_datetime']))]['rain']) > 0 ,axis=1)
trip_dataset['temp'] = trip_dataset.apply(lambda row: np.mean(w_data[((w_data['timestamp'] >= row['pickup_datetime']) & (w_data['timestamp'] <= row['dropoff_datetime']))]['temp']),axis=1)

In [88]:
trip_dataset['rain'] = trip_dataset['rain'].apply(lambda x: 1 if x else 0)
trip_dataset['temp'] = trip_dataset['temp'].apply(lambda x: 0 if x == 0 else np.log(x))

In [89]:
trip_dataset['windspeed'] = trip_dataset.apply(lambda row: np.mean(w_data[((w_data['timestamp'] >= row['pickup_datetime']) & (w_data['timestamp'] <= row['dropoff_datetime']))]['windspeed']),axis=1)

In [90]:
trip_dataset['snow'] = trip_dataset.apply(lambda row: np.mean(w_data[((w_data['timestamp'] >= row['pickup_datetime']) & (w_data['timestamp'] <= row['dropoff_datetime']))]['snow']),axis=1)
trip_dataset['snow'] = trip_dataset['snow'].apply(lambda x: 1 if x else 0)

In [91]:
trip_dataset['pickup_datetime_int'] = np.log(trip_dataset['pickup_datetime_int'])
trip_dataset['dropoff_datetime_int'] = np.log(trip_dataset['dropoff_datetime_int'])

In [92]:
trip_dataset['dropoff_latitude'] = np.log(abs(trip_dataset['dropoff_latitude']))
trip_dataset['pickup_longitude'] = np.log(abs(trip_dataset['pickup_longitude']))
trip_dataset['pickup_latitude'] = np.log(abs(trip_dataset['pickup_latitude']))
trip_dataset['dropoff_longitude'] = np.log(abs(trip_dataset['dropoff_longitude']))

In [2]:
trip_dataset = pd.read_csv('Datasets/trip_dataset.csv')

In [3]:
week_days = ['SUN','MON','TUE','WED','THU','FRY','SAT']
for weekday in week_days:
    trip_dataset[weekday] = 0

In [18]:
for weekday in week_days:
    #trip_dataset[weekday] = trip_dataset['pickup_datetime'].apply(lambda x: 1 if x.dt.dayofweek == week_days.index(weekday) else 0)
    trip_dataset[weekday] = trip_dataset['pickup_datetime'].apply(lambda x: 1 if (datetime.datetime.weekday(datetime.datetime.strptime(x,"%Y-%m-%d %H:%M:%S")) + 1)== week_days.index(weekday) else 0)

In [20]:
trip_dataset.tail()

,Unnamed: 0,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,...,temp,windspeed,snow,SUN,MON,TUE,WED,THU,FRY,SAT
36456,331451,id2105714,2,2016-06-30 22:48:02,2016-06-30 23:15:25,5,4.304100,3.707055,4.302982,3.710346,...,4.329417,4.6,0,0,0,0,0,1,0,0
36457,740480,id2220154,2,2016-06-30 22:56:08,2016-06-30 22:56:11,1,4.303647,3.703380,4.303647,3.703380,...,NaN,NaN,1,0,0,0,0,1,0,0
36458,181433,id1218160,2,2016-06-30 23:26:35,2016-06-30 23:39:12,2,4.303779,3.708318,4.303181,3.709835,...,NaN,NaN,1,0,0,0,0,1,0,0
36459,1383358,id1352632,1,2016-06-30 23:32:18,2016-06-30 23:57:04,1,4.301136,3.704966,4.303358,3.707509,...,4.329417,3.5,0,0,0,0,0,1,0,0
36460,857021,id2610717,2,2016-06-30 23:38:45,2016-07-01 00:06:56,1,4.301215,3.704928,4.303090,3.707861,...,4.329417,3.5,0,0,0,0,0,1,0,0

In [21]:
trip_dataset.to_csv('Datasets/trip_dataset.csv')